{% extends 'base.html' %}

{% block title %}Choose Your Survey {% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class='messages'>
        {% for category, msg in messages %}
        <div>
            <p class={{category}}>{{msg}}</p>
        </div>
        {% endfor %}
    </section>  
    {% endif %}
{% endwith %}

<h1>Welcome to the Survey App!</h1>

<form method='POST'>
    <label for 'survey-selector'>Choose a survey:</label>
    <select name='survey_selector'>
        {% for code, survey in surveys.items() %}
        <option value='{{code}}'>{{survey.title}}</option>
        {% endfor %} 
    </select>
    <button>Submit</button>
</form>


{% endblock %}

