{% extends 'base.html' %}

{% block title %}Survey Question{% endblock%}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class='messages'>
        {% for category, msg in messages %}
        <div>
           <p class={{category}}>{{msg}}</p> 
        </div>
        {% endfor %}
    </section>  
    {% endif %}
{% endwith %}

<h2>{{question.question}}</h2>

<div>
    <form action='/answer' method='POST'>
        {% for choice in question.choices %}
        <input type='radio' name='answer' value='{{choice}}' required>
        <label for='answer'>{{choice}}</label><br>
        {% endfor %}
        {% if question.allow_text %}
        <textarea name='text'></textarea>
        {% endif %}
        <input type='hidden' name='question_num' value={{q_num}}>
        <button>Submit</button> 
    </form>
</div>

{% endblock %}

