{% extends 'base.html' %}

{% block title %}Form Complete{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class='messages'>
        {% for category, msg in messages %}
        <div>
            <p class={{category}}>{{msg}}</p>
        </div>
        {% endfor %}
    </section>  
    {% endif %}
{% endwith %}

<h2>Thank you for participating in the {{survey.title}}!</h2>
<div>
    <p>Your answers:</p>
    <ul>
        {% for question in survey.questions %}
        <li>
            <b>{{ question.question }}:</b>
            {{ responses[loop.index0]["choice"] }}
            <i>{{ responses[loop.index0]["text"] }}</i>
          </li>
        {% endfor %}
    </ul>
    
</div>

{% endblock %}

